<header class="header">
  <a href="/">
    <img class="logo" src="logo.png" />
  </a>
  <nav>
    {{#each navs}}
    {{#if current}}
    <a href={{href}} class="current">{{label}}</a>
    {{else}}
    <a href={{href}}>{{label}}</a>
    {{/if}}
    {{/each}}
  </nav>
  <div />
</header>